<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKS</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/work.css">
</head>
<body>
    <header class="header">
        <nav class="nav bg">
          <div class="menu">
            <div class="img-logo">
                <a href="#"><img class="w-100" src="../images/work/logo-ft.png" alt="logo"></a>
            </div>
            <div>
                <ul class="main-menu">
                    <li class="option-menu">
                        <a href="#" class="option">WHY CHOOSE US</a>
                    </li>
                    <li class="option-menu">
                        <a href="#" class="option ">INDUSTRIES</a>
                    </li>
                    <li class="option-menu">
                        <a href="#" class="option">WORKS</a>
                    </li>
                    <li class="option-menu">
                        <a href="#" class="option">OUR TEAM</a>
                    </li>
                    <li class="option-menu">
                        <a href="#" class="option">CONTACT</a>
                    </li> 
                    <li class="option-menu">
                        <a href="#" class="option vn">ENG/VN</a>
                    </li>                                  
                </ul>
            </div>
        </div>
        </nav>
    </header>

    <section>
        <div class="container">
            <div class="text">   
                <h1>OUR WORK</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>              
                <button class="button btn-primary">Contact Us</button>
            </div>
            <div class="image">
              <img class="w-100" src="../images/work/Work-1.png" alt="Ảnh mẫu">
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="recent">
                <h4>RECENT PROJECTS</h4>
            </div>

            <div class="list-work">
                <div class="card">
                    <img class="w-100"src="../images/work/Work-2.png" alt="Ảnh 1">
                    <div class="card-content">
                      <h3>Blockchain· Supply Chain· Drug Supply</h3>
                      <p>Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                      <a href="#" class="read-more">Read More</a>
                    </div>
                  </div>
                  
                  <div class="card">
                    <img class="w-100"src="../images/work/Work-3.png" alt="Ảnh 2">
                    <div class="card-content">
                      <h3>Tracking· Solution· Enterprise</h3>
                      <p>Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                      <a href="#" class="read-more">Read More</a>
                    </div>
                  </div>
                  
                  <div class="card">
                    <img class="w-100" src="../images/work/Work-4.png" alt="Ảnh 3">
                    <div class="card-content">
                      <h3>Robot· Machine· IoT/Firmware· AI</h3>
                      <p>Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                      <a href="#" class="read-more">Read More</a>
                    </div>
                  </div>
                  
                  <div class="card">
                    <img class="w-100" src="../images/work/Work-5.png" alt="Ảnh 4">
                    <div class="card-content">
                      <h3>Blockchain· Supply Chain· Drug Supply</h3>
                      <p>Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                      <a href="#" class="read-more">Read More</a>
                    </div>
                  </div>
                  
                  <div class="card">
                    <img class="w-100" src="../images/work/Work-6.png" alt="Ảnh 5">
                    <div class="card-content">
                      <h3>Tracking· Solution· Enterprise</h3>
                      <p>Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                      <a href="#" class="read-more">Read More</a>
                    </div>
                  </div>
                  
                  <div class="card">
                    <img class="w-100" src="../images/work/Work-7.png" alt="Ảnh 6">
                    <div class="card-content">
                      <h3>Robot· Machine· IoT/Firmware· AI</h3>
                      <p>Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                      <a href="#" class="read-more">Read More</a>
                    </div>
                  </div>
            </div>

            <div class="alg-center">
                <button class="recent-bt btn-primary">LOAD MORE</button>
            </div>                        
        </div>
    </section>

    <section>
        <div class="container top-100">
            <div class="alg-center bold">
                <h2>PROPRIETARY PROJECTS</h2>
            </div>

            <div class="container">
                <div class="flex-container">
                  <div class="card-pp">
                    <img class="w-100" src="../images/work/Work-8.png" alt="Ảnh 1">
                    <div class="card-content-pp">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                    </div>
                  </div>
              
                  <div class="card-pp">
                    <img class="w-100" src="../images/work/Work-9.png" alt="Ảnh 2">
                    <div class="card-content-pp">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                    </div>
                  </div>
              
                  <div class="card-pp">
                    <img class="w-100" src="../images/work/Work-10.png" alt="Ảnh 3">
                    <div class="card-content-pp">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                    </div>
                  </div>
              
                  <div class="card-pp">
                    <img class="w-100" src="../images/work/Work-11.png" alt="Ảnh 4">
                    <div class="card-content-pp">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                    </div>
                  </div>
                </div>
              
                <div class="flex-container">
                  <div class="card-pp">
                    <img class="w-100" src="../images/work/Work-12.png" alt="Ảnh 5">
                    <div class="card-content-pp">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                    </div>
                  </div>
              
                  <div class="card-pp">
                    <img class="w-100"src="../images/work/Work-13.png" alt="Ảnh 6">
                    <div class="card-content-pp">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                    </div>
                  </div>
              
                  <div class="card-pp">
                    <img class="w-100"src="../images/work/Work-14.png" alt="Ảnh 7">
                    <div class="card-content-pp">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                    </div>
                  </div>
              
                  <div class="card-pp">
                    <img class="w-100" src="../images/work/Work-15.png" alt="Ảnh 8">
                    <div class="card-content-pp">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="alg-center">
                <h4>Get an estimate for your app idea. We do not spam.</h4>
            </div>
            <form class="form-container">
                  <div class="left-section">
                    <input type="text" id="name" name="name" placeholder="Name" class="input" required>
                    <input type="text" id="company" name="company" placeholder="Company" class="input" required>
                  </div>
                  <div class="right-section">
                    <input type="tel" id="phone" name="phone" placeholder="Phone" class="input" required>
                    <input type="email" id="email" name="email" placeholder="Email" class="input" required>
                  </div>
                  
                  <div class="bottom-section">
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Tell us about your requirement" class="tell"></textarea>
                  </div>
                  <div class="cb">
                    <input type="checkbox" id="agree" name="agree">
                    <label for="agree">Send me the signed Non-Disclosure Agreement (NDA)</label>
                  </div>
                  
            </form>
            <div>
              <button class="bt-get btn-primary">Get an astimate</button>
            </div>
            </div>
        </div>
    </section>

    <footer>
      <div class="ft d-flex">
          <div class="logo logo-footer">
              <a href="#">
                  <img class="w-100" src="../images/work/logo-ft.png" alt="logo-ft">
              </a>
          </div>
          <div class="menu-ft">
              <ul class="choose-option d-flex">
                  <li class="option-ft">
                      <a href="#" class="op-ft">WHY CHOOSE US</a>
                  </li>
                  <li class="option-ft">
                      <a href="#" class="op-ft">INDUSTRIES</a>
                  </li>
                  <li class="option-ft">
                      <a href="#" class="op-ft">WORKS</a>
                  </li>
                  <li class="option-ft">
                      <a href="#" class="op-ft">OUR TEAM</a>
                  </li>
                  <li class="option-ft">
                      <a href="#" class="op-ft">CONTACT</a>
                  </li>                                                     
              </ul>
          </div>
           
          <div class="d-flex right-footer ">
              <a class="ft-contact" href="#">012345XXXXX</a>
              <div class="mxh">
                  <i class="fab fa-linkedin-in"></i>
              </div>
              <div class="mxh">
                  <i class="fab fa-twitter"></i>
              </div>
          </div>
          
      </div>
  </footer>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>